html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.titulo{
	margin: 20px 10px;
	text-align: center;
}

.game{
	background-color: aqua;
	width: 70vh; /* 80% of the viewport height */
	height: 70vh; /* 80% of the viewport height */
	margin: 0 auto;
}

/* Media query para larguras de tela menores que 700px */
@media (max-width: 700px) {
	.game {
		width: 50vh;
		/* 60% of the viewport height */
		height: 50vh; 
		/* 60% of the viewport height */
	}
}